<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Add Unit</title>
</head>
<body>
<h3>Add Unit</h3>
  <form action="/devSkills" method="POST">
   <p>Title:</p><input type="text" name="unit" placeholder="Unit-No">
   <p>Skill 1:</p><input type="text" name="skill1">
   <p>Skill 2:</p><input type="text" name="skill2">
   <p>Skill 3:</p><input type="text" name="skill3">
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</body>
</html>