<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body style="display: flex; align-items: center; flex-direction: column;">
        <h1>Skill List</h1>
        <ul>
        <% skills.forEach( skill => { %>
          <li style="display: inline-block; margin: 3vh;">
          <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
        <% }); %>
        </li>
        </ul>
    </body>
  <html>