<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Skills</title>
</head>

<body>
  <% skills.forEach(element=> { %>
    <h2>
      Developer: <%= element.lang %> --- <%= element.framework %> --- <%= element.database %> --- <a
              href="/skills/<%= element.lang %>">View</a>
    </h2>
    <% }); %>
</body>

</html>