<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>This developer uses the following stack</h1>
  <h3>Language: <%= skills.lang %>
  </h3>
  <h3>Framework: <%= skills.framework %>
  </h3>
  <h3>Database: <%= skills.database %>
  </h3>
  <h3>Rate: $100/hr</h3>
</body>

</html>