<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Skills</title>
</head>

<body>
  <% skills.forEach(element=> { %>
    <h2>
      <%= element.lang %> --- <%= element.framwork %> --- <%= element.database %>
    </h2>
    <% }); %>
</body>

</html>