<!DOCTYPE html>
<html>

<head>
  <title>Express Skills</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Skills Express</h1>
  <a href="/skills/new">Add Skill</a>
  <ul>

    <% skills.forEach(e=> { %>
      <li>
        <a href="/skills/<%=  e.id %>">
          <%= e.skills %>
        </a>





      </li>
      <% }); %>
  </ul>

</body>
<html>